* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    height: 80px;
    padding-top: 5px;
}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.head_place {
    display: flex;
    align-items: center;
}

.city {
    color: var(--main-color-black, #120309);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
}

input {
    display: flex;
    width: 363px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--main-color-line, #E1E1E1);
    background: #FFF;
}

.phone {
    color: var(--main-color-dark-gray, #8E9AA9);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 12px */
}

.fullnumb {
    color: var(--main-color-black, #120309);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    white-space: nowrap;
    text-decoration: none;
    /* 16px */
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--green, #1AA34F);
    width: 175px;
    height: 52px;

    background-color: white;
    color: var(--green, #1AA34F);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 35%;
    /* 14px */
}

.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 36px;
    padding: 8px;

    gap: 8px;
    border-radius: 8px;
    background: #0C8B3D;


}

.catalog_text {
    color: var(--main-color-white, #FFF);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 15px */
    text-transform: uppercase;
}

nav {
    display: flex;
    padding: 12px 0;
    justify-content: space-between;
    align-items: center;
    gap: 89px;
    background: var(--green, #1AA34F);

}

.nav_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.nav_all a {
    color: var(--main-color-white, #FFF);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    text-decoration: none;
}

.catal_btn {
    width: 101px;
    height: 36px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 8px;
background: #FFF;

color: var(--main-color-black, #120309);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 16px */
}

.first_section{
    background-image: url(../img/first_section_bg.svg);
    height: 491px;
    background-repeat: no-repeat;
    background-size: contain;
}